/* Reset de márgenes y padding para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #D3CCE3;
    --color-secundario: #E9E4F0;
    --fondo-transparente: rgba(20, 30, 48, 0.6);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay oscuro */
    z-index: -1;
}

/* Estilos generales del body */
body {
    background-image: url("img/fondo_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    line-height: 1.6;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 1;
    font-display: swap;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilo para el encabezado */
.header_text {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 3rem; /* En lugar de 50px */
    text-align: center;
    font-style: normal;
}

.typing {
    width: 458px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #cbcecf;
    animation: typing 4s steps(12, end), cursor .4s steps(12, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    30% {
        border-color: transparent;
    }
}

header img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre los elementos */
    max-width: 1200px;
    margin: auto;
}

.header-left, .header-right {
    width: 100%;
    height: auto;
}

@keyframes brillo {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}
.header-right, .header-left {
    animation: brillo 2s infinite alternate ease-in-out;
}

/* Títulos principales */
h1,
h2 {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-primario);
}

p {
    color: var(--color-secundario);
    font-size: 1em;
    
}

/* Estilo de la navegación */
#navigator {
    background: var(--fondo-transparente); /* Fondo oscuro con opacidad */
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 200px;
    display: flex;
    overflow: hidden;
    flex-direction: column;  /* Ajustar el ancho del menú */
    max-width: 200px;
    overflow-y: auto;
}

#navigator h2 {
    margin-bottom: 10px;
}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    margin-bottom: 10px;
}

#navigator a {
    text-decoration: none;
    text-decoration: underline; /* Subrayado por defecto */
    color: var(--color-secundario);
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease;
}

#navigator a:hover {
    color: #8e57f6b1;
    background-color: #fffdfd00;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Estilos para el contenedor principal */
#container {
    width: 100%;
    max-width: 900px; /* Más ancho en pantallas grandes */
    min-width: 10%; /* Se ajusta en móviles */
    margin: 20px auto; /* Centrar */
    display: flex;
    flex-wrap: wrap; /* Permite mejor adaptación */
    justify-content: space-between;
    align-items: flex-start;
    gap: clamp(5px, 2vw, 20px); /* Espaciado dinámico */
}

/* Contenido principal */
main {
    background: var(--fondo-transparente); /* Fondo oscuro con opacidad */
    border-radius: 12px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
    flex: 2; /* Permite que el main tenga más espacio que la sidebar */
    padding: clamp(10px, 1vw, 25px); /* Ajuste dinámico */
    color: var(--color-primario);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Mejora la legibilidad */
}

#introduccion {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f48fb1;
}

/* Estilo para los posts */
#posts-image {
    width: 100px; /* Ancho fijo */
    max-width: 100%; /* Evita que la imagen sobresalga */
    height: auto; /* Mantiene la relación original */
    object-fit: cover; /* Recorta la imagen para ajustarla bien sin distorsión */
    /* border-radius: 8px; Bordes redondeados para un mejor diseño */  
    display: block; /* Para asegurar centrado */
    margin: 15px auto; /* Centra la imagen */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* Pequeña sombra para resaltar */
}

/* Barra lateral */
#sidebar {
    background: var(--fondo-transparente); /* Fondo oscuro con opacidad */
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1; /* Hace que la sidebar sea más pequeña */
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    padding: 10px;
}

/* Estilos para el contacto */

.contact-list {
    display: grid; /* Usa CSS Grid para organizar en columnas */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas del mismo tamaño */
    gap: 20px; /* Espaciado entre elementos */
}

.contact {
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px; /* Espaciado entre icono y texto */
    white-space: nowrap; /* Evita que el texto se corte en dos líneas */ 
}

.boton {
    display: flex;
    margin-bottom: 10px; /* Separa los botones 10px en la parte inferior */
    align-items: center;
    width: 100%; /* Permite que se ajuste dentro de la grid */
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    color: #2f2128;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.boton:hover {
    transform: scale(1.05);
}

.boton img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--fondo-transparente);
    color: white;
    text-align: center;
  }

@media (max-width: 667px) {
    #container {
        flex-direction: column;
    }
    #navigator, #sidebar {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .header-container {
        text-align: start;
        background-repeat: space;
    }
    .header_text {
        font-size: 30px; /* Ajusta el tamaño para móviles */
    }
    .contact-list {
        grid-template-columns: 1fr; /* Solo una columna en pantallas pequeñas */
    }

}